* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    padding: 1rem;
    background-color: white;
}

.pokemons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon {
    background-color: #49d0b0;
    color: white;

    height: 100%;
    width: 100%;
    max-width: 180px;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.pokemon .number {
    text-align: right;
    font-size: 0.7rem;

    color: black;
    opacity: 0.3;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail .types {
    margin: 0;
    padding: 0;
    list-style: none;
}

.types .type {
    background-color: #61e1ca;
    color: white;

    font-size: 0.8rem;
    border-radius: 0.625rem;

    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}
